*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* display: flex; */
    /* height:100%;  */
    height: 100vh;
    width: 100%;
    
}
.all{
    padding: 0px 1px;
   display: flex;
   flex-direction: row;
}
.all{
    padding: 0px 1px;
   display: flex;
   flex-direction: row;
}
.section{
    /* display: flex; */
     display: flex;
    flex-direction: column;
    background-color: #152259;
    height: 100vh;
    font-family: arial;
    font-size: 17px;
    color: white;
    width:20%;
    padding-top: 10px;
    
}
hr{
  margin: 10px 0 10px 0;
}
.name>h6{
  padding: 10px; 
}
.name>img{
    padding: 5px;
    align-items: center;
    position: relative;
    left: 1em;
}
.section>div{
    display: flex;
    gap: 1em;
    padding: 11px ;
    
    /* row-gap: 34em; */
}
.feature{
    /* padding-top */
    position: relative;
    /* bottom: 1px; */
    top: 2.8em;
}
.feature>h6{
    /* margin-right: 1em; */
}
.feature>h6>button{
    color:black;
    background-color: aqua;
    border-radius: 5px;
    border: none;
    padding: 3px;
    margin-left: 1em;
}

.iconoir{
    justify-content:center;
    /* position: relative; */
    padding-left: 1em;
    padding-right: 7em;

}
.iconoir>img{
    position: relative;
    left: 40em;
}
.iconoir>button{
border: none;
background-color: transparent;

}
.section2{
    justify-content: space-between;

    height: 100vh;
    width:100%;
    /* display: flex; */
    /* gap: 4em; */
    padding: 2em 1em 1em 1em;
    align-items: center;
    font-family: arial;
    font-size:1em;
    /* padding: 3em; */
    

}
.section2>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
     
}
.section2-content{
    padding-left: 1em;
    padding-right: 7em;
}

.toy{
    background-color: transparent;
    color: rgb(0, 140, 255);
    border: none;
    padding: 1em 2em;
}
.teacher{
   background-color:  rgb(0, 140, 255);
   color:white; 
   padding: 1em 2em;
   border: none;
   border-radius: 5px;
}
.search-section{
justify-items:center;
align-items: center;
display: flex;
padding-left: 1em;
    padding-right: 7em;
/* background-color: rgb(245, 242, 242); */
}
.search-section>button{
    left: 1em;
    position:relative;
    border:none;
    padding: 10px;
    background-color: white;

}
.search{
    position:relative;
    /* mi: 16em; */
    right: 15em; 
    justify-content: left;
    align-items: center;
}
input{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16em;
    padding-right: 16em;
    margin-right: -15em;
    background-color: rgb(245, 242, 242);
    border-radius: 7px;
    border: none;
    justify-content: center;
}
.search::placeholder{
    color: black;

}
.section3{
  justify-content: center;  
  align-items: center;
  height: 42vh;
  width: 85%;
  position: relative;
  left: 1em;
  padding-left: 1em;
    padding-right: 4em;
   background-color: rgb(245, 242, 242);
}
.section3>h4,p{
    align-items: center;
    justify-content: center;
    display: flex;
    top: 6em;
    position:relative;
    color: rgb(77, 75, 75);
}
.section3>p{
    font-size: 14px;
    margin-top: 1em;

}
.section3>h4{
    padding-bottom: 13px;
}

.section3-button{
    position: relative;
    /* padding: 10px 1em; */
    left:35em;
    top:6em;
    width: 150px;
    /* height: 2em; */

}
.section3-button>button{
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 3em;
    padding-left:2em;
    background-color: #152259;
    color: white;
    border: none;
    border-radius: 15px;
    height: 3em;
    width:11em ;
    position: absolute;
}
