*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100%;
  /* padding: 30px 60px; */
}
.all{
    padding: 0px 1px;
   display: flex;
   flex-direction: row;
}
.section{
    /* display: flex; */
     display: flex;
    flex-direction: column;
    background-color: #152259;
    height: 100vh;
    font-family: arial;
    font-size: 17px;
    color: white;
    width:20%;
    padding-top: 10px;
    
}
hr{
  margin: 10px 0 10px 0;
}
.name>h6{
  padding: 10px; 
}
.name>img{
    padding: 5px;
    align-items: center;
    position: relative;
    left: 1em;
}
.section>div{
    display: flex;
    gap: 1em;
    padding: 11px ;
    
    /* row-gap: 34em; */
}
.feature{
    /* padding-top */
    position: relative;
    /* bottom: 1px; */
    top: 2.8em;
}

.feature>h6>button{
    color:black;
    background-color: aqua;
    border-radius: 5px;
    border: none;
    padding: 3px;
    margin-left: 1em;
}
table,td{
  width: 100%;
  border-collapse: collapse;
  padding: 1px 9px 1px 2px;
}
table tr:nth-child(even){
  background-color:#EBF6FF ;
}
.tablehead{
  width: 100%;
  height: 100vh;
  padding: 0px 19px;
}
.top-button{
  /* border: solid red; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top:6px ;
  /* padding:10px ; */
}
.top-button>div>button{
  border: none;
  border-radius: 5px;
  padding: 11px 1em;
  font-family: helvetica;
}
.addTeachers{
  color: white;
  background-color:#0080ff;
  position: relative;
}
.dropDown{
  position:absolute;
  
}
.dropDown{
  padding: 10px 1.5em;
  background-color: #152259;
  border: none;
  border-radius: 6px;
}
.dropDown::placeholder{
  color: white;
  font-family: georgia;
}
.addTeachers:hover.dropDown{
  
}

.top-button>div>img{
  bottom: 0;
  top: 5px;
  position: relative;
}
.search-here{
  padding-top: 6px;
  padding-bottom: 6px; 
}
.search-here>input{
  padding: 12px 550px 10px 40px;
  border: none;
  border-radius:7px;
  background-color: #C4C4C4;
}

.search-here>input::placeholder{
  color: white;
  font-family: arial;
}
.search-here>button{
  border: none;
  background-color: transparent;
  padding: 4px;
}
/* .search-here>button:hover{
  background-color: blue;
} */
